.image img{
    width: 30%;
    top: 100px;
    left: 500px;
}

#inage {
    border-radius: 0%;
}

body {
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-image: url(papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-4_1562-749.avif);
}

#titulo {
    color:rgb(247, 246, 245) ;
   
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}