html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 100px;
    background-image: url("/Imagens/galáxia5.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row img{
    cursor: pointer;
    width: 255px;
    height: 388px
}

footer {
    padding-top: 55px;
}